*{
    margin:0;
    padding: 0;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(#D8C7FF, #19006C);
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'poppins';
}